*{
  box-sizing: border-box;
 
}


.App {
  text-align: center;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  font-size: 12px;
  max-width: 600px;
  padding: 20px;
  background: white;
  
}

.card button{
  
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border-style: none;
  margin-left: 500px;
}

.card h4{
  margin-left: 450px;
}

